body{
    /* background-color: #d6d6d6; */
    background-color: #fff;
    font-family: 'PT Sans',sans-serif;
}
.nav-main{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;

}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.leaflet-popup{
    width: fit-content; 
    position: absolute;
    bottom:20px;
    z-index: 50000;
}
.leaflet-popup-content-wrapper {  
    background-color: #ffffffdc;

}
.leaflet-popup-close-button{
    visibility: hidden;
}

.leaflet-popup-tip-container {
    visibility: hidden;
}
.leaflet-popup-content { 
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}
.btn-toggle-nav{
    width: 60px;
    left: 0;
    background-color: #fcfcfc;
    background-image: url("imagens/Barralateral.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor:pointer
}
.btn-toggle-nav:hover{
    opacity: 0.7;
}
.flup{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5001;
}
.nav-main ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.nav-main ul li {
    list-style: none;
    line-height: 30px;
}
.nav-main ul li a{
    display: block;
    height: 100%;
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:#111;
    font-size: 16px;

}
.nav-sidebar{
    position: absolute;
    left:0;
    top:9.5%;
    width: 20%;
/*    width: 272px; */
    height: calc(98vh - 60px);
    background-color: #ffffff;
    z-index:1000;
    overflow-y:visible;
    overflow-x: hidden;
}

.nav-sidebar li{
    padding-top: 15px;
    overflow: visible;
    visibility: visible;
    line-height: 60px;
    list-style:none;
    margin-left: 10px;
}


.nav-sidebar  li span, .nav-sidebar  li a {
    display: block;
    height: 60px;
    padding: 0 5px;
    text-decoration: none;
    color:#252525;
    font-size:10pt;
    white-space: nowrap;
    opacity: 1;
    transition: all 1s ease-in-out;
}
.nav-sidebar  li a:hover{
    transition: 0.5s ease;
    top: 50%;
    transform: translateY(-15%);
    transition: all 0.8s ease;
    opacity:0.9;
    transition: 0.5s ease;
    background-color: #080808;
    color:#eee
}
/* Traço Lado Esquerdo do menu */
.nav-sidebar  li a:hover::before {
    opacity: 0.7;
    visibility: unset;
}

.nav-sidebar  li a::before {
    transition: 2s ease;
    content: '';
    position: absolute;
    top: 0.8em;
    left: -1.2rem;
    height: 60%;
    border-left: 3px solid #949292;
    border-radius: 15px;
    opacity: 1;
    visibility: visible;
}
.mercadoHabitacional{
    background-color: #d1d1d1;
}
.categoria{
    line-height: 30px;
    margin-left: 20px
}
.nav-sidebar  li a .dropdown{
    position:absolute;
    right:0;
    margin-right:20px;
    margin-top: 24px;
    transition: 0.6s ease;

}
.nav-sidebar  li .sub-menu{
    background: rgba(197, 196, 196, 0.08);
    display: none;
    cursor: pointer;
}
.nav-sidebar  li .sub-menu a{
/* Background aqui, caso queira mudar a cor das sub categorias*/
    padding-left: 20px;
}
.rotation{
    transform:rotate(90deg)
}
.rotacaonormal{
    transform:rotate(270deg);
}
.rotacaoativa{
    transform:rotate(270deg);
}
.rotate{
    transform: rotate(90deg);
}
/* Rotate e Rotation  têm de estar assim, caso apague um e mude os outros para o mesmo nome, o scroll não funciona*/

/* acho que posso apagar o flex */
.flex-container{
    display:flex;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.legend {
    line-height: 18px;
    color: rgb(90, 87, 87);
    border:1px solid grey;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    
}
#painelLegenda{
    font-size: 12pt;
    position: relative;
    top:10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    /* background-color: rgb(248, 248, 180); */
    width: 100%;
    line-height: 1.5em;
    height: auto;
}
/* DIV onde está escrito legenda */
#vazio{
    position: relative;
    float: left;
}
#legendaA{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight:normal;
/*  DIV onde está os dados da legenda (cores e valores)*/
}
#geral{
    position:relative;
    width: 80%;
    height:88vh;
    top:7vh;
    left: 20%;
}
#caixa{
    width: 100%;
    height: 13vh;
    position: relative;
}
#inteiro{
    width: 100%;
    height: 75vh;
    position: relative;
}
#mapa{
    width: 60%;
    height: 100%;
    float: left;
}
#tabela{
    visibility: hidden;
    width: 100%;
    overflow: scroll;
    position: absolute;
    height: 70vh;
    overflow: hidden;
    top:5%
}
#tituloMapa{
    width: 100%;
    font-size:10pt;
    font-weight: bolder;
}
#tituloMapa p{
    margin:2px
}
#mapDIV{
    height: 94%;
    width: 100%;
    border: 1px inset rgba(128, 128, 128, 0.205);
}
.ine{
    position: relative;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    visibility: visible;
    top:1%

}
.ine a{
    text-decoration: none;
}
.ine img{
    margin-top: 2px;
    width: 10px;
    height: 8px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.info h4 {
    margin: 0 0 5px;
    color: black;

}
.info h5{
    margin: 0 0 2px;
    font:14px/16px Arial, Helvetica, sans-serif;
    color:grey;
    font-weight: bolder;
    font-style: italic;
}
.nav-sidebar ul li .sub-menu a:hover{
    background-color: #080808;
    color:#eee;
}
#slidersGeral{
    width: 80%;
    height: 15px;
    position: relative;
    left:80px;
    bottom: 40px;
}
#sliderPopConcelho2021, #sliderPopFreguesia2021{
    position:relative;
    margin-top:15px;
    margin-left:25%;
    visibility: hidden;
}
#sliderVariacaoConcelho2021, #sliderPopPercentagem2021, #sliderVariacaoFreguesia2021, #sliderPopConcelho2011, #sliderPopConcelho2001, #sliderVariacaoConcelho2011,
#sliderPopConcelho1991{
    position:relative;
    margin-top:0px;
    margin-left:25%;
    visibility: hidden;
}
/* MUDAR A BARRA DE CONTROLO DO ZOOM */
/* .leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    position: absolute;
    margin-top:250px;
	background-clip: padding-box;
} */
.leaflet-touch .leaflet-bar {
    opacity: 0.7;
}
#Fontes{
    position: absolute;
    height: 2%;
    width: 80%;
    bottom:1.5%;
    left:20%;
    background-color: white;
    visibility: visible;

}

.fonte {
    padding: 6px 8px;
    font: 7px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.fonte h4 {
    margin: 0 0 5px;
    color: black;
    font:9px

}
.fonte a{
    text-decoration: none;
    color:black
}
#legendTitle {
    font-size: 10pt;
    text-align: center;
    word-wrap: break-word;
}
.symbolsContainer {
    margin-top: 10px;
    font-size: 12pt;
    line-height: 0.3rem;
}
.legendaProporcional{
    position: relative;
    top:5px;
    left: 0px;
    font-size: 12pt;
    line-height: 1.5em;
    vertical-align: middle;
}
.legendaProporcional i {
    width: 30px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
   
}
.legendCircle {
    border-radius:50%;
    border: 1px solid black; 
    background:rgba(255, 0, 0,0.8);
	display:inline-block;

}
.node:hover{
    stroke-width: 7px;
    opacity: 1 
}
.legendValue {
    position: absolute;
    right: 30%;
    font-size: 14px;
    line-height: 0.3rem;
    font-size: 8pt;
}
.legendValue2 {
    position: absolute;
    right: 30%;
    font-size: 8pt;
    margin-top:-14px
}
.legendaCirculosExcecao {
    line-height: 0rem;
    margin-top:-1.2%
}
.naoClassico{
    margin-top:-2.2%
}
.legendaExcecaoBaixar {
    line-height: 0.75rem;
}
.margin0{
    margin-top:0px
}
.excecaoVagos{
    line-height: 0.7rem;
}
.legend1 {
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.sub-item{
    background-color: #f1f1f1;
}
.butaoEscala{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: #E56443;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.butao {
    border: none;
    background-color: #E56443;
    cursor: pointer;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    margin-top: 8px;
    width: 20%;
    display: inline;
    padding: 5px;
}
#opcoesTabela button{
    padding: 0px
}
.btn{
    width: 19%;
    top:55%;
    margin-left:10%;
    position:relative;
    outline: none;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: #E56443;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.active{
    background-color:#8D9687;
}
#selectTA{
    width: auto;
}
#mostrarBarra, #mostrarBarra2{
    display:block;
}
.active1, .active3 , .active2{
    background-color: #316270;
}  
.active4, .active5{
    background-color: #316270;
    padding:5px
}
.btn:hover , .butaoEscala:hover, .butao:hover{
    opacity: 0.7;
}
.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid;
}
.tableFixHead{ 
    overflow: auto;
    height: 100%; 
    background-color: white;
}

td{
    color: rgb(51, 51, 51);
    font-weight: normal;
    font-size: 8pt;
    text-align: center;
}

tr td:nth-child(1){
    font-weight: bolder;
}
td.bgcolor{
    background-color: #F7F7F7;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
table{ 
    border-collapse: collapse; 
    width: 100%; 
}
.borderleft{
    border-left: 1px solid grey;
}
.borderbottom{
    border-bottom: 1px solid grey;

}
#input-number-min, #input-number-max{
    position: relative;
    border-radius: 5px;
    text-align: center;
    /* background-color: #e9e8e8de; */
    background-color: #f5f5f5de;
    width: 20%;
    left: 3%;
    border: 1px solid black;
}
#filtrar{
    position: relative;
    top:25px;
    left: 5px;
    font-size: 10pt;
}
#filtrar p{
    font-size: 8pt;
}
th, td{ 
    padding: 10px 15px 10px 10px;
}
thead{
    background: #eee;
}

thead tr.fixar1 th{
    position: sticky;
    top: 0;
    background: #eee;
    font-size: 10pt;
}
.fixar1, .fixar2{
    text-align: center;
    position: sticky;
}
thead tr.fixar2 th {
    position: sticky;
    font-size: 10pt;
    top: 35px;
    background: #eee;
    padding:1px;
    width: 20px;
}

#divLegenda{
    width: 100%;
    height: 10%;
}

#space{
    position: relative;
    width: 100%;
    height: 45%;
    z-index: 1000;
    background-color: #fff;
    border-top:1px solid rgba(92, 92, 92, 0.5);
}

#painel{
    position:relative;
    float:left;
    left: 2%;
    top:1%;
    width: 38%;
    height: 100%;
    background-color: #fff;
}
#myDIV{
    width: 100%;
    position: relative;
    top:0px;
}

#opcoesTabela{
    width: 100%;
    position: relative;
    display: inline-flex;
    visibility: hidden;
    top:15%;
    height: auto;
}
#tabelaDadosAbsolutos, #tabelaVariacao, #tabelaPercentagem{
    width: 17%;
    font-size: 10pt;
    text-align: center;
    margin-left: 10%;
    bottom:5px;
    position: relative;
    margin-left: 12%;
}
#geralEscalas{
    width: 100%;
    position: relative;
    top:6px;
}

#escalasConcelho{
    position: relative;
    top:0;
    width: 100%;
    border-top: 1px solid grey;
    display: block;
}

#escalasFreguesias{
    position: absolute;
    top:0px;
    border-top: 1px solid grey;
    display: block;
    visibility: hidden;
}
#concelho, #freguesias{
    text-align: center;
    width: 25%;
    padding: 5px;
    margin-left:15%
}

#absoluto, #taxaVariacao, #percentagem,
#absolutoFreguesia, #taxaVariacaoFreguesia, #percentagemFreguesia{
    width:fit-content;
    margin-left: 5px;

}
.sliderAtivo{
    width:40%;
    margin-left: 30%;

}

#btnPrev{
    border: 1px solid #e5e5e5;
    padding: 8px;
}
#mySelect{
    border: 1px solid #e5e5e5;
    padding: 6px;
}
#btnNext {
    border: 1px solid #e5e5e5;
    padding: 8px;
}
#opcaoSelect{
    border: 1px solid #e5e5e5;
    padding: 0px;
    margin-top:13px;
}
select {
    font-size: 14px;
    border: none;
    background: whitesmoke;
    border-radius: 5%;
}

.imgButton{
    width: 5px;
    height: 5px;
}
.popUpGrafico{
    position: absolute;
    background-color: whitesmoke;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    padding: 10px;

} 
.node:hover{
  stroke-width: 7px;
  opacity: 1
}
.titulo{
    margin-top:15px;
    font-size: 10pt;
    font-weight: bolder;
}
.titulo p{
    margin: 2px;
}
.float{
    float: left;
}
.divGradiente{
    position: relative;
    top:5px;
    left: 0px;
    font-size: 12pt;
    line-height: 1.5em;
    width: 100%;
    height: 50px;
}
#grad1 {
    position: relative;
    float: left;
    left: 30%;
    border: 1px solid rgba(128, 128, 128, 1);
    width: 34%;
    height: 25px;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(251,240,182,1) 0%, rgba(251,233,173,1) 5%, rgba(251,224,161,1) 10%, rgba(251,217,151,1) 15%, rgba(251,212,144,1) 20%, rgba(251,203,131,1) 25%, rgba(251,199,126,1) 30%, rgba(251,195,120,1) 35%, rgba(251,190,113,1) 40%, rgba(251,182,102,1) 45%, rgba(251,176,94,1) 50%, rgba(251,170,86,1) 55%, rgba(251,165,79,1) 60%, rgba(251,159,71,1) 65%, rgba(251,156,67,1) 70%, rgba(252,152,60,1) 75%, rgba(253,145,49,1) 80%, rgba(253,138,40,1) 85%, rgba(253,136,37,1) 90%, rgba(254,132,32,1) 95%, rgba(254,130,28,1) 100%)
}
#minimo{
    position: relative;
    width: min-content;
    float: left;
    left: 27%;
    font-size: 8pt;
}
#maximo{
    position: relative;
    width: min-content;
    float: left;
    left: 31%;
    font-size: 8pt;
}
#barra{
    width: 2px;
    height: 5px;
    position: relative;
    top:15px;
    background-color: rgb(83, 83, 83);

}

.zero{
    top: 0px;
    position: relative;
    font-size: 9pt;
    left: -2px;
    font-weight: bolder;
    color:rgb(83, 83, 83);
}
#temporal a {
  text-decoration: none;
  display: inline-block;
  padding: 7px 12px;
  cursor:pointer;
  font-weight: bolder;
  font-size: 16px;
}

#temporal a:hover {
  background-color: rgb(197, 196, 196);
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}
.round {
    border-radius: 15%;
  }
.margin{
    margin-left: 2px;
}
#variavel{
    position: relative;
    top:5px
}
#notaRodape{
    border-top:1px solid gray;
    position: relative;
    top: 15px;
    font-size: 9pt;
    text-align: justify;
}
#metaInformacao{
    visibility: hidden;
    width: 100%;
    overflow: scroll;
    position: absolute;
    height: 75vh;
    overflow: hidden;
    font-size: 10pt;
    text-align: justify;
    overflow-y: scroll;
    overflow-x:hidden;
    border-top: 1px solid gray;

}